<h1>Forms</h1>

<app-sidebar-wrapper>
  <ng-container doc>
    <markdown
      class="card p-3"
      [src]="'assets/markdown/angular/forms.md'">
    </markdown>
  </ng-container>
  <ng-container example>
    <h2>Simple input</h2>
    <div class="simple-input mb-5">
      <ul>
        <li>[ ] Create simple property in the component</li>
        <li>[ ] Add input in the template</li>
        <li>[ ] Bind input with property and output value on template</li>
      </ul>
    </div>
    
    <h2>Template Driven</h2>
    
    <p>In template driven forms, if you've imported FormsModule, you don't have to do anything to the form tag in order to make use of FormsModule.</p>
    
    <div class="template-driven d-flex flex-column mb-5">
      <h3>Signup</h3>
      <!-- The variable signupForm is now a reference to the NgForm directive that governs the form as a whole-->
      <form
        (ngSubmit)="onSubmit(signupForm.form)"
        #signupForm="ngForm"
        class="form-horizontal">
          <div class="form-group">
            <label for="username">Username</label>
            <!-- [(ngModel)] is the syntax for the two-way data binding with the property declared on the component -->
            <input
              #username="ngModel"
              [(ngModel)]="userTemplateDriven.username"
              type="text"
              class="form-control"
              id="username"
              name="username"
              required>
            <!-- You need a template reference variable to access the input box's Angular control from within the template -->
            <div
              [hidden]="username.valid || username.pristine"
              class="alert alert-danger">
              Username is required
            </div>
          </div>
    
          <div class="form-group">
            <label for="email">Email</label>
            <!-- Defining a name attribute is a requirement when using [(ngModel)] in combination with a form -->
            <input
              [(ngModel)]="userTemplateDriven.email"
              type="email"
              class="form-control"
              id="email"
              name="email"
              required>
          </div>
    
          <div class="form-group">
            <div
              *ngFor="let sex of sexss"
              class="form-check form-check-inline">
              <input
                [(ngModel)]="userTemplateDriven.sex"
                class="form-check-input"
                type="radio"
                name="sex"
                id="sex"
                [value]="sex.value">
              <label class="form-check-label" for="inlineRadio1">{{ sex.label }}</label>
            </div>
          </div>
    
          <div class="form-group">
            <label for="country">Country</label>
            <select
              [(ngModel)]="userTemplateDriven.country"
              class="form-control"
              name="country"
              id="country">
              <option [value]=""></option> <!-- First empty element with null value -->
              <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
            </select>
          </div>
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!signupForm.form.valid">
            Submit
          </button>
        </form>
        <p>User data binding: {{ userTemplateDriven | json }}</p>
    </div>
    
    <h2>Data Driven (Reactive forms)</h2>
    <div class="data-driven">
      <h3>Signup</h3>
      <h4>Simple Form Control</h4>
      <div class="form-group">
        <label for="usernameSimpleD">Username</label>
        <input
          [formControl]="usernameD"
          type="text"
          class="form-control"
          id="usernameSimpleD"
          name="usernameSimpleD"
          required>
          <p>{{ usernameD.value | json }}</p>
      </div>
    
      <h4>FormControl in a FormGroup</h4>
      <!--
      Because the class now has a FormGroup, you must update the template syntax for associating the <input> with the corresponding FormControl in the component class.
      Without a parent FormGroup, [formControl]="name" worked earlier because that directive can stand alone, that is,
      it works without being in a FormGroup. With a parent FormGroup,
      the name <input> needs the syntax formControlName=name in order to be associated with the correct FormControl in the class.
      This syntax tells Angular to look for the parent FormGroup, in this case heroForm, and then inside that group to look for a FormControl called name.
      -->
      <form
        [formGroup]="signupSimpleDataDrivenForm"
        class="form-horizontal">
        <div class="form-group">
          <label for="usernameD">Username</label>
          <input
            formControlName="usernameD"
            type="text"
            class="form-control"
            id="usernameD"
            required>
          <p>{{ signupSimpleDataDrivenForm.value | json }}</p>
        </div>
      </form>
    
      <h4>Form Builder</h4>
      <form
        [formGroup]="signupDataDrivenForm"
        class="form-horizontal">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            formControlName="username"
            type="text"
            class="form-control"
            required>
          <p>Form values: {{ signupDataDrivenForm.value | json }}</p>
          <p>Form status: {{ signupDataDrivenForm.status | json }}</p>
          <button
            type="button"
            class="btn btn-success"
            (click)="onSubmitDataDriven()"
            [disabled]="!signupDataDrivenForm.valid">
            Submit
          </button>
        </div>
      </form>
    </div>
    
    
    <!-- TODO: Create 3 separate components for each type of form -->
  </ng-container>
</app-sidebar-wrapper>
