<div
  *ngIf="menu"
  class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <li
        *ngFor="let i of menu.items"
        (click)="menu.active = i.templateContent"
        [class.active]="menu.active === i.templateContent"
        class="list-group-item pointer">
        {{ i.title }}
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <!-- Alternative method: <router-outlet></router-outlet> creating N children routes (and files) -->
    <!-- Could also use a [ngSwitch]="menu.active" *ngSwitchCase="'doc | example'"-->
    <ng-container *ngIf="menu.active === 'doc'">
      <h1>Documentation</h1>
      <hr />
      <ng-content select="[doc]"></ng-content>
    </ng-container>
    <ng-container *ngIf="menu.active === 'example'">
      <h1>Examples</h1>
      <hr />
      <ng-content select="[example]"></ng-content>
    </ng-container>
  </div>
</div>