<!-- TODO: Make as separate componentes under shared module -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler" 
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <!-- Add directive to manage route and active state with routerLink and routerLinkActive -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/life-cycle" routerLinkActive="active">Lifecycle Hooks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pipes" routerLinkActive="active">Pipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/forms" routerLinkActive="active">Forms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/movies" routerLinkActive="active">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/auxiliary-routes" routerLinkActive="active">Auxiliary Routes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/change-detection" routerLinkActive="active">Change Detection</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/infinite-scroll" routerLinkActive="active">Infinite Scroll</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <app-pages class="d-block pt-3"></app-pages>
</div>