<h1>Life Cycle Hooks</h1>

<app-sidebar-wrapper>
  <ng-container doc>
    <markdown
      class="card p-3"
      [src]="'assets/markdown/life-cycle-hooks.md'">
    </markdown>
  </ng-container>
  <ng-container example>
    <div>
      <h2>Order of the hooks</h2>
      <ol>
        <li *ngFor="let hook of hooksCalled">{{ hook }}</li>
      </ol>
    </div>
    
    <h2>Show ngOnChanges in a children component</h2>
    <app-hook-me [value]="'Hello Hook'"></app-hook-me>
  </ng-container>
</app-sidebar-wrapper>